<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule.meta.recipient.dao.RecipientDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="recipientMap" type="cc.cdtime.lifecapsule.meta.recipient.entity.RecipientView">
        <result property="noteId" column="note_id"/>
        <result property="triggerId" column="trigger_id"/>
        <result property="recipientName" column="recipient_name"/>
        <result property="createTime" column="create_time"/>
        <result property="recipientId" column="recipient_id"/>
        <result property="userId" column="user_id"/>
        <result property="recipientRemark" column="recipient_remark"/>
        <result property="triggerRemark" column="trigger_remark"/>
        <result property="triggerTime" column="trigger_time"/>
        <result property="actTimes" column="act_times"/>
        <result property="triggerType" column="trigger_type"/>
        <result property="fromName" column="from_name"/>
        <result property="toName" column="to_name"/>
    </resultMap>

    <!--创建一个笔记的接收人-->
    <insert id="createNoteRecipient"
            parameterType="cc.cdtime.lifecapsule.meta.recipient.entity.NoteRecipient">
        insert into note_recipient
        (note_id, recipient_name,
         phone, email, remark, status,
         recipient_id, user_id)
        values (#{noteId}, #{recipientName},
                #{phone}, #{email}, #{remark}, #{status},
                #{recipientId}, #{userId})
    </insert>

    <!--查询接收人列表-->
    <select id="listNoteRecipient" parameterType="map" resultMap="recipientMap">
        select * from note_recipient
        where 1=1
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>
        <choose>
            <when test="email!=null">
                and email=#{email}
            </when>
        </choose>
        <choose>
            <when test="offset!=null">
                limit #{size} offset #{offset}
            </when>
        </choose>
        order by ids desc
    </select>

    <!--查询一个接收人信息-->
    <select id="getRecipient" parameterType="java.lang.String" resultMap="recipientMap">
        select recipient.ids,
               recipient.note_id,
               trigger.trigger_id,
               recipient_name,
               phone,
               email,
               recipient.remark as recipient_remark,
               recipient.recipient_id,
               recipient.user_id,
               trigger.remark   as trigger_remark,
               trigger_time,
               act_times,
               trigger_type,
               trigger.status,
               from_name,
               title,
               to_name,
               description
        from note_recipient recipient
                 left join note_trigger trigger on recipient.recipient_id = trigger.recipient_id
        where recipient.recipient_id = #{recipientId}
    </select>

    <select id="getRecipientTiny" parameterType="java.lang.String" resultMap="recipientMap">
        select *
        from note_recipient
        where recipient_id = #{recipientId}
    </select>

    <!--删除一个接收人-->
    <delete id="deleteNoteRecipient" parameterType="map">
        delete
        from note_recipient
        where 1=1
        <choose>
            <when test="recipientId!=null">
                and recipient_id = #{recipientId}
            </when>
        </choose>
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>
    </delete>

    <!--修改一个接收人-->
    <update id="updateNoteRecipient" parameterType="map">
        update note_recipient
        <set>
            <if test="name!=null">
                recipient_name=#{name},
            </if>
            <if test="triggerId!=null">
                trigger_id=#{triggerId},
            </if>
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="fromName!=null">
                from_name=#{fromName},
            </if>
            <if test="toName!=null">
                to_name=#{toName},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where recipient_id=#{recipientId}
    </update>
</mapper>