<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule.meta.task.dao.TaskTodoDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="taskTodoMap" type="cc.cdtime.lifecapsule.meta.task.entity.TaskView">
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="taskId" column="task_id"/>
        <result property="taskTitle" column="task_title"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
    </resultMap>

    <!--创建一个todo任务-->
    <insert id="createTaskTodo" parameterType="cc.cdtime.lifecapsule.meta.task.entity.TaskTodo">
        insert into task_todo
        (user_id, task_title, create_time, task_id,
         priority, complete, task_type, note_id,
         project_id)
        values (#{userId}, #{taskTitle}, #{createTime}, #{taskId},
                #{priority}, #{complete}, #{taskType}, #{noteId},
                #{projectId})
    </insert>

    <!--读取todo任务列表-->
    <select id="listTaskTodo" parameterType="map" resultMap="taskTodoMap">
        select * from task_todo
        where 1=1
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="complete!=null">
                and complete is false
            </when>
        </choose>
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>
        <choose>
            <when test="projectId!=null">
                and project_id=#{projectId}
            </when>
        </choose>
        order by complete, create_time desc
        limit #{size} offset #{offset}
    </select>
    <!--统计todo任务总数-->
    <select id="totalTaskTodo" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total from task_todo
        where 1=1
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>
        <choose>
            <when test="complete!=null">
                and complete is false
            </when>
        </choose>
        <choose>
            <when test="projectId!=null">
                and project_id=#{projectId}
            </when>
        </choose>
    </select>

    <!--读取一个todo任务详情-->
    <select id="getTaskTodo" parameterType="java.lang.String" resultMap="taskTodoMap">
        select tt.ids,
               tt.user_id,
               task_title,
               complete,
               priority,
               tt.create_time,
               task_id,
               task_type,
               note_id,
               tt.project_id,
               project_name
        from task_todo tt
                 left join project p on tt.project_id = p.project_id
        where task_id = #{taskId}
    </select>

    <!--修改todo任务-->
    <update id="updateTaskTodo" parameterType="map">
        update task_todo
        <set>
            <if test="title!=null">
                task_title=#{title},
            </if>
            <if test="priority!=null">
                priority=#{priority},
            </if>
            project_id=#{projectId},
            <if test="complete!=null">
                complete=#{complete}
            </if>
        </set>
        where task_id=#{taskId}
    </update>

    <!--物理删除一个todo任务-->
    <delete id="deleteTaskTodo" parameterType="map">
        delete
        from task_todo
        where 1=1
        <choose>
            <when test="taskId!=null">
                and task_id = #{taskId}
            </when>
        </choose>
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>

    </delete>
</mapper>