<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule.meta.trigger.dao.TriggerDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="triggerMap" type="cc.cdtime.lifecapsule.meta.trigger.entity.TriggerView">
        <result property="triggerId" column="trigger_id"/>
        <result property="noteId" column="note_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="triggerTime" column="trigger_time"/>
        <result property="actTimes" column="act_times"/>
        <result property="triggerType" column="trigger_type"/>
        <result property="toEmail" column="to_email"/>
        <result property="fromName" column="from_name"/>
        <result property="toName" column="to_name"/>
        <result property="toEmailStatus" column="to_email_status"/>
        <result property="toUserStatus" column="to_user_status"/>
    </resultMap>

    <!--创建一个触发器-->
    <insert id="createTrigger"
            useGeneratedKeys="true"
            parameterType="cc.cdtime.lifecapsule.meta.trigger.entity.NoteTrigger">
        insert into note_trigger
        (trigger_id, trigger_time, create_time, user_id,
         trigger_type, status,
         title, to_email, note_id, from_name,
         to_user_id, ref_pid, to_name)
        values (#{triggerId}, #{triggerTime}, #{createTime}, #{userId},
                #{triggerType}, #{status},
                #{title}, #{toEmail}, #{noteId}, #{fromName},
                #{toUserId}, #{refPid}, #{toName})
    </insert>

    <!--查询一个触发器-->
    <select id="getTrigger" parameterType="map" resultMap="triggerMap">
        select *
        from note_trigger
        where 1=1
        <choose>
            <when test="triggerId!=null">
                and trigger_id = #{triggerId}
            </when>
        </choose>
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="noteId!=null">
                and note_id=#{noteId}
            </when>
        </choose>
        <choose>
            <when test="toEmail!=null">
                and to_email=#{toEmail}
            </when>
        </choose>
    </select>

    <!--查询触发器列表-->
    <select id="listTrigger" parameterType="map" resultMap="triggerMap">
        select * from note_trigger
        where 1=1
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and status=#{status}
            </when>
        </choose>
        <choose>
            <when test="noteId!=null">
                and note_id =#{noteId}
            </when>
        </choose>
        <choose>
            <when test="triggerType!=null">
                and trigger_type = #{triggerType}
            </when>
        </choose>
        <choose>
            <when test="toEmail!=null">
                and to_email=#{toEmail}
            </when>
        </choose>
        <choose>
            <when test="toUserStatus!=null">
                and( to_user_status=#{toUserStatus}
                or to_email_status=#{toEmailStatus}
                )
            </when>
        </choose>
        order by create_time desc
        <choose>
            <when test="offset!=null">
                limit #{size} offset #{offset}
            </when>
        </choose>
    </select>

    <select id="totalTrigger" parameterType="map" resultType="java.lang.Integer">
        select count(*) as total from note_trigger
        where 1=1
        <choose>
            <when test="userId!=null">
                and user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="status!=null">
                and status=#{status}
            </when>
        </choose>
    </select>

    <!--修改一个笔记触发条件-->
    <update id="updateNoteTrigger" parameterType="map">
        update note_trigger
        <set>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="triggerTime!=null">
                trigger_time=#{triggerTime},
            </if>
            <if test="triggerType!=null">
                trigger_type=#{triggerType},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="toEmail!=null">
                to_email=#{toEmail},
            </if>
            <if test="toName!=null">
                to_name=#{toName},
            </if>
            <if test="fromName!=null">
                from_name=#{fromName},
            </if>
            <if test="actTimes!=null">
                act_times=#{actTimes}
            </if>
        </set>
        where trigger_id=#{triggerId}
    </update>

    <update id="updateNoteTrigger2" parameterType="cc.cdtime.lifecapsule.meta.trigger.entity.TriggerView">
        update note_trigger
        <set>
            <if test="remark!=null">
                remark=#{remark},
            </if>
            <if test="triggerTime!=null">
                trigger_time=#{triggerTime},
            </if>
            <if test="triggerType!=null">
                trigger_type=#{triggerType},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="toEmail!=null">
                to_email=#{toEmail},
            </if>
            <if test="toName!=null">
                to_name=#{toName},
            </if>
            <if test="fromName!=null">
                from_name=#{fromName},
            </if>
            <if test="toUserId!=null">
                to_user_id=#{toUserId},
            </if>
            <if test="actTimes!=null">
                act_times=#{actTimes}
            </if>
        </set>
        where trigger_id=#{triggerId}
    </update>

    <!--物理删除触发器-->
    <delete id="deleteTrigger" parameterType="java.lang.String">
        delete
        from note_trigger
        where trigger_id = #{triggerId}
    </delete>
</mapper>