<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule.meta.user.dao.UserEncodeKeyDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="userEncodeKeyMap" type="cc.cdtime.lifecapsule.meta.user.entity.UserEncodeKeyView">
        <result property="indexId" column="index_id"/>
        <result property="encodeKey" column="encode_key"/>
    </resultMap>

    <insert id="createUserEncodeKey" useGeneratedKeys="true"
            parameterType="cc.cdtime.lifecapsule.meta.user.entity.UserEncodeKey">
        insert into user_encode_key
            (encode_key, index_id)
        values (#{encodeKey}, #{indexId})
    </insert>

    <!--读取一个用户秘钥记录-->
    <select id="getUserEncodeKey" parameterType="java.lang.String" resultMap="userEncodeKeyMap">
        select *
        from user_encode_key
        where index_id = #{indexId}
    </select>

    <update id="updateUserEncodeKey" parameterType="map">
        update user_encode_key
        set encode_key=#{encodeKey}
        where index_id = #{indexId}
    </update>

    <delete id="deleteUserEncodeKey" parameterType="java.lang.String">
        delete
        from user_encode_key
        where index_id = #{indexId}
    </delete>
</mapper>