<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.lifecapsule.meta.user.dao.UserLoginNameDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="userMap" type="cc.cdtime.lifecapsule.meta.user.entity.UserView">
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="loginName" column="login_name"/>
    </resultMap>

    <!--创建一个用自定义登录名账号-->
    <insert id="createUserLoginName"
            useGeneratedKeys="true"
            parameterType="cc.cdtime.lifecapsule.meta.user.entity.UserLoginName">
        insert into user_login_name
            (user_id, login_name, password)
        values (#{userId}, #{loginName}, #{password})
    </insert>

    <!--查询一个登录名用户-->
    <select id="getLoginName" parameterType="map" resultMap="userMap">
        select uln.ids,
        uln.user_id,
        login_name,
        nickname
        from user_login_name uln
        left join user_base ub on uln.user_id = ub.user_id
        where 1 = 1
        <choose>
            <when test="userId!=null">
                and uln.user_id=#{userId}
            </when>
        </choose>
        <choose>
            <when test="loginName!=null">
                and login_name=#{loginName}
            </when>
        </choose>
        <choose>
            <when test="password!=null">
                and password=#{password}
            </when>
        </choose>
    </select>

    <!--修改用户登录名密码-->
    <update id="updateLoginName" parameterType="map">
        update user_login_name
        <set>
            <if test="loginName!=null">
                login_name=#{loginName},
            </if>
            <if test="password!=null">
                password=#{password}
            </if>
        </set>
        where user_id=#{userId}
    </update>
</mapper>